# Exercise 2: Creating Redshift Cluster using the AWS python SDK 
## An example of Infrastructure-as-code

In [2]:
import pandas as pd
import boto3
import json

# STEP 0: Make sure you have an AWS secret and access key

- Create a new IAM user in your AWS account
- Give it `AdministratorAccess`, From `Attach existing policies directly` Tab
- Take note of the access key and secret 
- Edit the file `dwh.cfg` in the same folder as this notebook and fill
<font color='red'>
<BR>
[AWS]<BR>
KEY= YOUR_AWS_KEY<BR>
SECRET= YOUR_AWS_SECRET<BR>
<font/>

# Load DWH Params from a file

In [3]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh-cluster.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param        Value
0        DWH_CLUSTER_TYPE   multi-node
1           DWH_NUM_NODES            4
2           DWH_NODE_TYPE    dc2.large
3  DWH_CLUSTER_IDENTIFIER   dwhCluster
4                  DWH_DB        dwhdb
5             DWH_DB_USER      dwsuser
6         DWH_DB_PASSWORD  dwsPassw0rd
7                DWH_PORT         5439
8       DWH_IAM_ROLE_NAME      dwhRole

# Create clients for IAM, EC2, S3 and Redshift

In [4]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# Check out the sample data sources on S3

In [4]:
sampleDbBucket =  s3.Bucket("udacity-dend")
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)
# for obj in sampleDbBucket.objects.all():
#     print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

# STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::898422240690:role/dwhRole

# STEP 2:  Redshift Cluster

- Create a RedShift Cluster
- For complete arguments to `create_cluster`, see [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster)

In [14]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [7]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwsuser
4,DBName,dwhdb
5,Endpoint,"{'Address': 'dwhcluster.caobeckyrssz.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-d796ffaf
7,NumberOfNodes,4

<h2> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>

<font color='red'>DO NOT RUN THIS unless the cluster status becomes "Available" </font>

In [8]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.caobeckyrssz.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::898422240690:role/dwhRole

## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [84]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-d6161da0')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# STEP 4: Make sure you can connect to the cluster

In [5]:
%load_ext sql

In [9]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwsuser:dwsPassw0rd@dwhcluster.caobeckyrssz.us-west-2.redshift.amazonaws.com:5439/dwhdb

'Connected: dwsuser@dwhdb'

In [59]:
%%sql 
SELECT
	*
FROM
	pg_catalog.pg_tables
WHERE
	schemaname != 'pg_catalog'
AND schemaname != 'information_schema';

 * postgresql://dwsuser:***@dwhcluster.caobeckyrssz.us-west-2.redshift.amazonaws.com:5439/dwhdb
7 rows affected.

[('public', 'staging_songs', 'dwsuser', None, True, False, False),
 ('public', 'songplays', 'dwsuser', None, True, False, False),
 ('public', 'users', 'dwsuser', None, True, False, False),
 ('public', 'songs', 'dwsuser', None, True, False, False),
 ('public', 'artists', 'dwsuser', None, True, False, False),
 ('public', 'time', 'dwsuser', None, True, False, False),
 ('public', 'staging_events', 'dwsuser', None, False, False, False)]

In [72]:
%%sql
SELECT count(*) FROM songs

 * postgresql://dwsuser:***@dwhcluster.caobeckyrssz.us-west-2.redshift.amazonaws.com:5439/dwhdb
1 rows affected.

[(14896,)]

In [73]:
%%sql
SELECT count(*) FROM artists

 * postgresql://dwsuser:***@dwhcluster.caobeckyrssz.us-west-2.redshift.amazonaws.com:5439/dwhdb
1 rows affected.

[(14896,)]

In [74]:
%%sql
SELECT * FROM time LIMIT 5

 * postgresql://dwsuser:***@dwhcluster.caobeckyrssz.us-west-2.redshift.amazonaws.com:5439/dwhdb
5 rows affected.

[('2018-11-07 00:14:58.796', 0, 7, 45, 11, 2018, '3'),
 ('2018-11-07 00:40:08.796', 0, 7, 45, 11, 2018, '3'),
 ('2018-11-07 01:42:43.796', 1, 7, 45, 11, 2018, '3'),
 ('2018-11-07 03:12:44.796', 3, 7, 45, 11, 2018, '3'),
 ('2018-11-07 06:41:58.796', 6, 7, 45, 11, 2018, '3')]

In [75]:
%%sql
SELECT * FROM songplays LIMIT 5

 * postgresql://dwsuser:***@dwhcluster.caobeckyrssz.us-west-2.redshift.amazonaws.com:5439/dwhdb
5 rows affected.

[(8, '2018-11-07 00:01:16.796', '97', 'paid', None, None, '293', 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (72, '2018-11-03 01:16:15.796', '53', 'free', None, None, '52', 'Klamath Falls, OR', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"'),
 (136, '2018-11-07 15:48:13.796', '15', 'paid', None, None, '221', 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (200, '2018-11-03 18:21:21.796', '15', 'paid', None, None, '199', 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (264, '2018-11-07 19:40:25.796', '15', 'paid', None, None, '221', 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [71]:
%%sql
SELECT * FROM staging_events ORDER BY userId DESC LIMIT 10

 * postgresql://dwsuser:***@dwhcluster.caobeckyrssz.us-west-2.redshift.amazonaws.com:5439/dwhdb
10 rows affected.

[(None, 'Logged Out', None, None, 3, None, None, 'paid', None, 'GET', 'Home', None, 128, None, 200, Decimal('1541310732796'), None, None),
 (None, 'Logged Out', None, None, 4, None, None, 'paid', None, 'PUT', 'Login', None, 128, None, 307, Decimal('1541310733796'), None, None),
 (None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, Decimal('1541207073796'), None, None),
 (None, 'Logged Out', None, None, 0, None, None, 'free', None, 'GET', 'Home', None, 18, None, 200, Decimal('1541239749796'), None, None),
 (None, 'Logged Out', None, None, 0, None, None, 'paid', None, 'GET', 'Home', None, 175, None, 200, Decimal('1541329386796'), None, None),
 (None, 'Logged Out', None, None, 2, None, None, 'free', None, 'GET', 'Home', None, 200, None, 200, Decimal('1541337277796'), None, None),
 (None, 'Logged Out', None, None, 0, None, None, 'free', None, 'GET', 'Home', None, 238, None, 200, Decimal('1541341786796'), None, None),
 (None, 'Logged Out', None, None, 1, None, None, 'free', None, 'PUT', 'Login', None, 238, None, 307, Decimal('1541341787796'), None, None),
 (None, 'Logged Out', None, None, 0, None, None, 'paid', None, 'GET', 'Home', None, 234, None, 200, Decimal('1541354594796'), None, None),
 (None, 'Logged Out', None, None, 104, None, None, 'paid', None, 'GET', 'Home', None, 293, None, 200, Decimal('1541551950796'), None, None)]

# STEP 5: Clean up your resources

<b><font color='red'>DO NOT RUN THIS UNLESS YOU ARE SURE <br/> 
    We will be using these resources in the next exercises</span></b>

In [85]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'AllowVersionUpgrade': True,
  'AutomatedSnapshotRetentionPeriod': 1,
  'AvailabilityZone': 'us-west-2b',
  'ClusterCreateTime': datetime.datetime(2019, 2, 16, 6, 21, 30, 630000, tzinfo=tzutc()),
  'ClusterIdentifier': 'dwhcluster',
  'ClusterParameterGroups': [{'ParameterApplyStatus': 'in-sync',
    'ParameterGroupName': 'default.redshift-1.0'}],
  'ClusterSecurityGroups': [],
  'ClusterStatus': 'deleting',
  'ClusterSubnetGroupName': 'default',
  'ClusterVersion': '1.0',
  'DBName': 'dwh',
  'Encrypted': False,
  'Endpoint': {'Address': 'dwhcluster.csmamz5zxmle.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'EnhancedVpcRouting': False,
  'IamRoles': [{'ApplyStatus': 'in-sync',
    'IamRoleArn': 'arn:aws:iam::988332130976:role/dwhRole'}],
  'MasterUsername': 'dwhuser',
  'NodeType': 'dc2.large',
  'NumberOfNodes': 4,
  'PendingModifiedValues': {},
  'PreferredMaintenanceWindow': 'fri:10:30-fri:11:00',
  'PubliclyAccessible': True,
  'Tags': [],
  'VpcId': 'vpc-54d40a2c',
  'VpcSecurityGroups': []},
 'ResponseMetadata': {'HTTPHeaders': {'content-length': '2041',
   'content-type': 'text/xml',
   'date': 'Sat, 16 Feb 2019 07:13:32 GMT',
   'x-amzn-requestid': '5e58b2d8-31ba-11e9-b19b-0945d449b0a9'},
  'HTTPStatusCode': 200,
  'RequestId': '5e58b2d8-31ba-11e9-b19b-0945d449b0a9',
  'RetryAttempts': 0}}

- run this block several times until the cluster really deleted

In [86]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.csmamz5zxmle.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-54d40a2c
7,NumberOfNodes,4

In [87]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'HTTPHeaders': {'content-length': '200',
   'content-type': 'text/xml',
   'date': 'Sat, 16 Feb 2019 07:13:50 GMT',
   'x-amzn-requestid': '694f8d91-31ba-11e9-9438-d3ce9c613ef8'},
  'HTTPStatusCode': 200,
  'RequestId': '694f8d91-31ba-11e9-9438-d3ce9c613ef8',
  'RetryAttempts': 0}}